[Unit]
Description=BUAA medical-sys v2
After=network.target

[Service]
ExecStart=/usr/bin/medical_sys
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=medisys

[Install]
WantedBy=multi-user.target