<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/webapp/labelsys/css/labelsys.css" />
  <link rel="stylesheet" type="text/css" href="../../webapp/labelsys/css/menu_wave.css" />
  <script src="../../webapp/labelsys/js/snap.svg-min.js"></script>
</head>
<body>
  <div id="main">
    <div id="Tools">
    </div>
      <div id="Workspace">
      </div>
  </div>
  <div id="footer">
    <div id="InfoPanel">
      <span id="infoLog"></span>
    </div>
    <div id="Copyright">Copyright 2018-2019<br/>xyLiu [BUAA]</div>
  </div>
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <script src="../../webapp/common/js/tools.js"></script>
  <script>
    let media_duration={{.media_duration}};
    let media_frames={{.media_frames}};
    let media_height={{.media_height}};
    let media_width={{.media_width}};
    let label_data={{.label_data}};
  </script>
  <script src="{{.crf_scripts}}"></script>
  <script src="{{.custom_scripts}}"></script>
</body>
</html>
